/* DaTouWang URL: www.datouwang.com */
body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div{margin:0;padding:0;border:0;}
/*body{color:#333; font-size:12px;font-family:"Microsoft YaHei"}*/
ul,ol{list-style-type:none;}
select,input,img,select{vertical-align:middle;}
input{ font-size:12px;}
.clear{clear:both;}

/* 大转盘样式 */
.banner{display:block;width:79%;margin-left:auto;margin-right:auto;margin-bottom: 20px;}
.banner .turnplate{display:block;width:100%;position:relative;}
.banner .turnplate canvas.item{width:100%;}
.banner .turnplate img.pointer{position:absolute;width:31.5%;height:42.5%;left:34.1%;top:23%;}
#sbtn{ position: absolute;top: 85%;text-align: center;width: 100%; }
#sbtn img{ width: 24%;margin: 0 20px; }

/**遮罩层样式 信息输入框**/
/*灰色遮罩层*/
.fade{
    width:100%;
    height:100%;
    background:rgba(0, 0, 0, 0.5);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
}
/*弹出层*/
.succ-pop{
    width: 90%;
    height: 40%;
    position: fixed;
    left: 5%;
    top: 27%;
    /*margin-left: 5%;*/
    /*margin-top: 5%;*/
    z-index: 999;
    border-radius: 5px;
    background-color: #f7f7f7;
    margin: 0 auto;
    border-radius: 8px;
}
.succ-pop h3.title{
    text-align: center;
    font-size: 21px;
    color: #ce002c;
    margin-top: 15%;
    margin-bottom: 5%;
}
.fadeul{
    float: none;
    margin-left: 5%;
    margin-right: 5%;

}
.fadeul li{
    width: 100%;
    height: 39px;
    margin-bottom: 20px;
    color: #CCCCCC;
}
.seach-day-box{
    width: 100%;
    padding: 0 4% 0 4%;
    height: 39px;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    background-color: #FFFFFF;
    border-radius: 3px;
    line-height: 39px;
}
.seach-day-box .text-div{
    float: right;
    width:75%
}
.color-black{
    color: #000000;
}
.input-test-con{
    width: 100%;
    height: 28px;
    line-height: 28px;
    box-shadow: none;
    border: 0;
}
.footer-btn .fangqi-seach{
    width: 40%;
    height: 44px;
    line-height: 44px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #0F45A7;
    color: #0F45A7;
}
.footer-btn .float-left{
    float: left;
}
.footer-btn .float-right{
    float: right;
}
.fangqi-seach:hover{
    background-color: #0F45A7;
    color: #FFFFFF !important;
    text-shadow: none !important;
}